/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    body {
        font-family:'Helvetica', 'Arial', 'Sans-Serif';
        font-size: 1em;
        line-height: 1.5em;
        margin: 1px auto;
        width: 90%;
    }
    h1 {
        font-size: 2em;
        font-family:'Helvetica', 'Arial', 'Sans-Serif';
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    body {
        font-family:'Helvetica', 'Arial', 'Sans-Serif';
        font-size: 1.5em;
        line-height: 1.7em;
        margin: 1px auto;
        width: 90%;
    }
    h1 {
        font-size: 2em;
        font-family:'Helvetica', 'Arial', 'Sans-Serif';
    }
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

p {
    color: #333;
}

