

body {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.3em;
    line-height: 1.35em;
    margin: 20px;
    width: 100%;
    background-color: white;
}
h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    font-family: 'Darker Grotesque', sans-serif;
}

@media screen and (max-width: 600px) {
    nav {
        visibility: hidden;
        height: 0px
    }
}

nav ul, footer ul {
    font-family: 'Darker Grotesque', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 0px;
}
a {
    text-decoration: none;
    color: #888888;
}
a:hover {
    text-decoration: normal;
    color: black;
   background-color: lightskyblue;
}

p {
    color: #333;
}

#closebutton {
    font-size: 1.5em;
    position: absolute;
    right: 25px;
    top: -10px;
}
