---
layout: default
title: Bernd Beyreuther. Game Producer.
---
<style>
    img {
    max-width:100%;
    margin: 0px;
    }
</style>
<picture>
    <source srcset="{{ site.url }}{{ site.baseurl }}/assets/header/main.jpg" media="(max-width: 600px)">
    <source srcset="{{ site.url }}{{ site.baseurl }}/assets/header/main_hero.jpg">
    <img src="{{ site.url }}{{ site.baseurl }}/assets/header/main_hero.jpg" style="width:100%;">
</picture>

<main class="site_content">
    <section class="contentbox">
        <span style="font-size:1.5em;">Track Record </span>
        <div class="gridcontainer">
        {% for post in site.categories.z_games %}
        {% include card.html %}
        {% endfor %}
        </div><!-- /.gridcontainer -->
    </section>
    <section class="contentbox">
        <span style="font-size:1.5em;">About me.</span>
        <p>
        Game Producer. Game Designer. Located in Berlin.
        <br>
        Currently working as Head of Studio at Softgames.
        <br>
        <ul>
        <li>
        <a href="https://www.linkedin.com/in/berndbeyreuther/">
        My CV @ LinkedIn
        </a>
        </li>
            
        <li>
        <a href="https://www.mobygames.com/developer/sheet/view/developerId,117427/">
        My trackrecord at Mobygames.
        </a>
        (Games until 2011)
        </li>
        </ul>
            <div class="gridcontainer">
            {% for post in site.categories.z_aboutme %}
            {% include card.html %}
            {% endfor %}
            </div><!-- /.gridcontainer -->
         </p>
    </section>
    <section class="contentbox">
        <span style="font-size:1.5em;">Concepts, prototypes, unreleased games.</span>
        <p>
        Its part of everydays game development that projects get canceled and ideas dont find funding. Some of my never realized concepts, prototypes and unreleased games can be found here.
        </p>
        <div class="gridcontainer">
        {% for post in site.categories.z_concepts %}
        {% include card.html %}
        {% endfor %}
        </div><!-- /.gridcontainer -->
    </section>
    <section class="contentbox">
        <span style="font-size:1.5em;">Non game related stuff.</span>
        <div class="gridcontainer">
        {% for post in site.categories.z_other %}
        {% include card.html %}
        {% endfor %}
        </div><!-- /.gridcontainer -->
    </section>
</main>

<footer>
    <div style="font-size:0.7em; color:#aaaaaa;"> Updated: 2021-Dec-16</div>
</footer>

