<div>
<a href="{{ post.url | relative_url }}">
    <div class=post>
    
    {% if post.featured-img %}
    <img style="width:100%;   border-top-left-radius: 5px; border-top-right-radius: 5px;
" src="{{ site.url }}{{ site.baseurl }}/assets/header/{{post.featured-img}}.jpg"/>
    {% endif %}
        <div style="padding:9px">
        {% if post.jahr %}
        {{ post.jahr }}<br>
        {% else  %}
        {% endif %}
        <b>{{ post.title | strip_html | truncate: 40 }}</b>
        <br>
        {% if post.summary %}
        {{ post.summary | strip_html | truncatewords:20 }}
        {% else %}
        {{ post.content | strip_html | truncatewords: 20 }}
        {% endif %}
        </div>
    </div>
</a>
</div>
