---
layout: postdefault
---
{% if page.featured-img %}
    <style>
        img {
        max-width:100%;
        margin: 0px;
        }
    </style>
<a href="/index">
    <picture>
        <source srcset="{{ site.url }}{{ site.baseurl }}/assets/header/{{page.featured-img}}.jpg" media="(max-width: 600px)">
        <source srcset="{{ site.url }}{{ site.baseurl }}/assets/header/{{page.featured-img}}_hero.jpg">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/header/{{page.featured-img}}_hero.jpg" style="width:100%;">
    </picture>
</a>
{% endif %}
<a href="/index"><div id="closebutton"><b>&times;</b></div></a>
<div style="margin:5%">
    <h1>{{ page.title }}</h1>
    <div id="post">
      {{ content }}
    </div>
</div>
